<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <h2 class="title is-3">New Room</h2>
            <form action="#" th:action="@{/addroom}" th:object="${room}" method="post">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input type="text" th:field="*{name}" class="input" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="content is-danger"></span>
                    </div>
                </div>
                <div class="block">
                    <input type="submit" class="button is-primary" value="Add Room">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>