<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<h1 th:text="'Welcome to '+${room.name}"></h1>
<div class="container">
    <div class="column">
        <textarea id="shared-doc" class="textarea is-primary" placeholder="Dicussion Text Here" th:text="${room.text}"></textarea>
    </div>
</div>
<a class="button" href="/index">go back</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var id = [[${room.id}]];
var name = [[${room.name}]];
/*]]>*/
var stompClient = null;
var username = null;
var socket = null;
var lastChange = 0;

function connect(event) {
    username = "random name generator here";

    if(username) {
         socket = new SockJS('/chat');
         socket.onopen = function() {
             console.log('open');
             socket.send('test');
         };
         stompClient = Stomp.over(socket);

        stompClient.connect({}, onConnected, onError);
    }
    event.preventDefault();
}

function onError(error) {
    console.log(error)
}

function onConnected() {
    // Subscribe to the Public Topic
    stompClient.subscribe('/topic/public/'+id, onMessageReceived);
}
function onMessageReceived(payload) {
    console.log("message")
    console.log(payload)
    var documentContent = document.getElementById("shared-doc");
    // Do some postprocessing of the content
    var incomingJson = JSON.parse(payload.body)
    savedText = incomingJson.content
    incomingTime = incomingJson.time
    incomingChange = documentContent.value
    console.log("savedText", savedText)
    console.log("incomingChange", incomingChange)
    if (incomingTime > lastChange){
        // detect conflict and resolve
        // if no conflict detected, merge them
        documentContent.value = savedText
    } else {
        documentContent.value = savedText
    }

}

function send(event) {
    console.log("send")
    console.log(document.getElementById("shared-doc").value)
    var documentContent = document.getElementById("shared-doc").value;

    if(documentContent && stompClient) {
        var chatMessage = {
            sender: username,
            content: documentContent,
            roomId: id,
            roomName: name,
            time: Date.now()
        };
        lastChange = Date.now();

        stompClient.send("/room/document/"+id, {}, JSON.stringify(chatMessage));
    }
    //event.preventDefault();
}
var delay = (function(){
    var timer = 0;
    return function(callback, ms){
        clearTimeout(timer);
        timer = setTimeout(callback,ms);
    };
})();
document.getElementById("shared-doc").addEventListener("input",e => {
        delay(function(){
            send(e.target.innerHTML)
        },1500)
});
window.onload = (e) => connect(e);
</script>
</html>
