<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Collaborative Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <style>
            div.chatBox {
                margin:5px;
                padding:5px;
                width: 500px;
                height: 650px;
                overflow: auto;
                text-align:justify;
                border:1px solid LightGray;
            }
       </style>
</head>
<body>
<div class="containter">
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <h1 class="title is-3" th:text="'Welcome to '+${room.name}"></h1>
            <div class="block">
                <textarea autofocus id="shared-doc" class="textarea is-primary" placeholder="Dicussion Text Here" onfocus="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)" th:text="${room.text}"></textarea>
            </div>
            <a class="button is-primary" onclick="disconnect()" href="/index">go back</a>
        </div>
        <div class="column is-half">
            <div class="container chatBox" id="chat-messages">

            </div>
            <form class="form-inline" onsubmit="addChat(event)">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input is-info" id="chat-message" type="text" placeholder="Type message here...">
                    </div>
                    <div class="control">
                        <button id="send-message" class="button is-info" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.0.0/diff.min.js"></script>
<script type="text/javascript" th:src="@{/js/document.js}"></script>
<script type="text/javascript" th:src="@{/js/room.js}"></script>
<script type="text/javascript" th:src="@{/js/chat.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var id = [[${room.id}]];
var name = [[${room.name}]];
/*]]>*/
var stompClient = null;
var username = null;
var socket = null;
var lastChange = 0;
function connect(event) {
    username = prompt("Please enter your name:");

    if(username) {
         socket = new SockJS('/chat');
         socket.onopen = function() {
             console.log('open');
             socket.send('test');
         };
         stompClient = Stomp.over(socket);

        stompClient.connect({}, onConnected, onError);
    }
     socket.onclose = function() {
     console.log('close');
    };
    // event.preventDefault();
}

function disconnect(){
    sendEntryOrLeave("disconnect")
    socket.close();
}

function onError(error) {
    console.log(error)
}

function onConnected() {
    // Subscribe to the Public Topic
    stompClient.subscribe('/topic/chat/'+id, onMessageReceived);
    stompClient.subscribe('/topic/public/'+id, onDocumentReceived);
    stompClient.subscribe('/topic/room/'+id, userInOut);
    sendEntryOrLeave("connect")
}
const TIME_DIFF = 10000

window.onload = (e) => connect(e);
window.addEventListener('beforeunload', (event) => {
  event.preventDefault();
  disconnect()
});
</script>
</html>
